<div class="row">
<form class="row g-3" action="/login">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="username" readonly class="form-control-plaintext" id="staticEmail2" value="Email@me.com">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="your password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Sign Up

    </button>
  </div>
</form>
</div>